# Database
DATABASE_URL="mongodb+srv://..."

# Auth Secrets (générer avec: openssl rand -base64 32)
JWT_SECRET=""
JWT_REFRESH_SECRET=""

# API Keys
RESEND_API_KEY=""
FROM_EMAIL="onboarding@resend.dev"

# Configuration
NEXT_PUBLIC_APP_URL="http://localhost:3000"
